@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

#root {
  overflow-x: hidden;
}


/* shared fonts */
.font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;

}